<!DOCTYPE html>
<html>
<head>
	<title>Cancellation & Returns</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<h1 align="center">Cancellation & Return</h1>
</head>
<body> 
	<p>We at GreenWorld.com believe in helping our customers as much as possible, and has therefore we present a liberal cancellation policy.<br><br></p>
	<b>How do I cancel an order on GreenWorld.com?<br></b>
	<p>If unfortunately you have to cancel an order, please do so before your order has been processed.<br><br></p>
	<b>1. For outright cancellations by you<br></b>
	<ul>
		<li>If you cancel your order before your Plants / Products has shipped, you can choose to have the entire amount refunded or get a GreenWorld voucher.</li>
		<li>If your product has been shipped and is yet to be delivered, please do not accept delivery which will make your order return to us. The actual shipping and handling charges for cancellation of shipped orders will be recovered from the customer and the amount will be settled in the refund amount due. Please note that there will be delay between actual shipping of order and updating the shipping status information on the Website. Consequently, customer may not be able to verify that the order has been shipped prior to requesting cancellation. In such cases GreenWorld reserves the right to reject cancellation of the order.</li>
	</ul>
	<b><br>2. If the cancellation is after your product has been shipped & delivered<br></b>
	<ul>
		<li>If you have already received the Plants / Products then it will be eligible for replacement, only in cases where there are defects found with the Plants / Products.</li>
	</ul>
	<b><br><br>DAMAGE, DELAY OR LOSS IN TRANSIT<br></b>
	<p>On receipt of all goods inspect carefully. There could be certain circumstances beyond our control where you could receive a damaged product. Please advise us immediately if there is any sign of damage. We will replace the product to your satisfaction at no extra cost. In such circumstances, before using the product, please write to us. The defective product might need to be shipped back to us and a replacement will be shipped immediately on receipt of the defective product. Replacement is subject to the availability of the product in our stock. If not available we will refund you for the same.<br></p>
	<b>SUBSTITUTION<br></b>
	<p>In any case where we are unable to supply the variety ordered you can choose any product from our website of a similar value and we will be most happy to ship that as a replacement for you.<br><br></p>
	<b>REFUND POLICY<br></b>
	<p>Any refund claim will be processed within 10 working days once request of cancellation of item(s) is received or after receipt of the product by us or after we establish the goods sold by us did not conform to the Standards. Please see our statements of Warranty and Liability for more information.<br></p>
	<b>Refund will be processed based on the mode of payment of the order:</b>
	<ul>
		<li>Orders paid by credit/debit card will be refunded by credit back to the credit/debit card. The actual crediting of the refund amount will depend on the bank’s processing times.</li>
		<li>Orders paid by net banking accounts will be credited back to bank account. The actual crediting of the refund amount will depend on the bank’s processing times.</li>
		<li>For all other modes of payment, we will send a refund cheque.The cheque will be made in favour of the name as in the "billing name" provided at the time of placing the order.</li>
		<li>For orders placed through Gift Vouchers refund would be provided in form of a fresh Gift Voucher of the same value.</li>
	</ul>
	<p><br>Buyer can claim refund for loss in transit if the ordered product(s) has not been delivered at the shipping address (in India) within 15 working days of shipping the order. Such claims will be verified by myBageecha team and only upon establishing the veracity of the claim the amount will be refunded to the buyer. No claims by buyer will be entertained as loss-in-transit if there is evidence that the order has been delivered to the shipping address or if there was no person available to receive the shipment when the delivery of the order was attempted.<br><br></p>
	<b>LATE OR MISSING REFUNDS (IF APPLICABLE)<br></b>
	<p>If you haven’t received a refund yet, first check your bank account again, then contact your credit card company, it may take some time before your refund is officially posted.<br>Next contact your bank. There is often some processing time before a refund is posted. A refund generally takes 3-4 working days to reflect in your account.<br>If you’ve done all of this and you still have not received your refund yet, please contact us at support@GreenWorld.com<br><br></p>
	<b>WARRANTY AND LIABILITY<br></b>
	<p>GreenWorld is committed to supplying high quality products to recreational gardeners and households for personal use. In accordance with the established custom of the trade, GreenWorld will in no case be liable for more than the actual amount paid for a particular product on sale.<br>We will endeavour to only have products on our web site that are in stock and available for ordering. Varieties that are out of stock will be listed as such and will not be available for purchase. In the unforeseen event of items going out of stock after you placed an order your amount will be refunded to you.<br><br></p>
	<b>RETURN POLICY<br></b>
	<ul>
		<li>If you think, you have received the Plants / Products in a bad condition or if the packaging is tampered with or damaged before delivery (excludes normal wear & tear and markings on the outer surface of the package, acceptable in the transit process), please refuse to accept the package and return the package to the delivery person. Also email us at support@GreenWorld.com mentioning your Order ID. We will personally ensure that a brand new replacement is issued to you with no additional cost. Please make sure that the original product tag and packing is intact when you send us the product back.</li>
		<li>Apart from condition reserved herein above, the following Plants / Products shall not be eligible for return or replacement, viz:</li>
		<li>If product is same as shown and described on our website. Eg : Size/ Color mismatch.</li>
		<li>Products / Items that have been used;</li>
		<li>Damages due to misuse of product;</li>
		<li>Products with evidence of having been tampered upon;</li>
		<li>Any product that is returned without all original packaging and accessories (if any) along with the original price tags, labels and invoices;</li>
		<li>It is advised that the return packets should be strongly and adequately packaged so that there is no damage of goods in transit. If any plant or products are damaged post-delivery it shall not be accepted for return.<br><br></li>
	</ul>
	<b>SHIPPING<br></b>
	<ul>
		<li>Please do not send your purchase back to the manufacturer. All returns must be sent to our office address, i.e., NSR International Private Ltd, 27 Patel Society, Opp Police Commissioner Office, Shahibaug, Ahmedabad - 380 004</li>
		<li>You will be responsible for paying for your own shipping costs for returning your item if it is not damaged. Shipping costs are non-refundable. If you choose to send the product back the product needs to be packed in a way there is no damage.If damaged, the damage liability will not be refunded.</li>
		<li>Depending on where you live, the time it may take for your exchanged product to reach you, may vary.</li>
		<li>If you are shipping an item over Rs 500, you should consider using a track-able shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.</li>
		<li>Send us the return tracking id on support@GreenWorld.com so we can track for the same.</li>
	</ul>
	<p style="font-size: 20px"><b>Quicks Links</b></p>
		<ul style="list-style-type: none;">
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/tac">Terms & Conditions</a></li>
			<li><a href="/cancel-return">Cancellation & Return Policy</a></li>
		</ul>
		<p style=" font-size: 20px"><b>Contact for Horticulturist</b></p>
	<ul style="list-style-type: none;">
		<li >Phone no. : 9972445588</li>
	</ul>
</body>
</html> 