<!DOCTYPE html>
<html>
<head>
	<title>FQA</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<h1 align="center">FQA</h1>
	<h2 align="center"><b><u>Frequently asked questions</u></b></h2>
</head>
<body>
	<ul>
		<li><b>You have a really unique and new product. How do i understand the care needed for your products?</b><br>Each product has 2 tabs underneath it in the product page. One is of Description and the other for Care Instruction. Click on the care instrction tab to understand what you need to do to take care of the product - be it oragnice or succulent.<br><br></li>
		<li><b>Do I need to register to be able to order?</b><br>You do not need to register to be able to place an order. However registering will make it possible for you to login to your account, see your order histroy and progress of your current order.<br><br></li>
		<li><b>How do I register or create an online account?</b><br>Simply add something to your basket(cart) and proceed to checkout. In checkout you will see the option to register as a new customer and create a username and password and the option for returning customer to log in.<br><br>
		Fill your name and address in the specified feilds and then create a username and password to allow you ti proceed. The website does not store your credit card details. You will be redirected each time you place an order. By registering with us it will make the shopping experience easier and faster next time you visit the website.<br><br></li>
		<li><b>How do you ship the products?</b><br>We ship all our products via our courier partner. Incase our partner is not available at the pin code provided by you, we ship it by other courier's.<br><br></li>
		<li><b>What kind of package can i expect my product be delivered in?</b><br>All our products in 3 or 5 ply boxes for safe transit.<br><br></li>
		<li><b>Do you ship to different cities?</b><br>Yes, we ship to other cities in India<br><br></li>
		<li><b>Do you deliever overseas?</b><br>Sorry but we currently deliver only across India.<br><br></li>
		<li><b>Do you have COD on your website?</b><br>Yes we offer COD facility all over India wherever it is supported via our courier.<br><br></li>
		<li><b>How will my plants arrive?</b><br>When your plants arrive if they do not resemble the picture on the website and seem dry, please don't worry we anticipate this. We have years of experience so let us explain. Our photos are for illustrative purposes only, the pictures on the website are of mature plants in their flowering season. As we deal in live products the season and weather dictates the condition. Sizes and measurements of plants on our website are approximate, they can vary significantly in size between seasons.<br><br>With mail order plants, the power of the plant is stored in its root system. We understand they may not initially look as attractive as plants in a garden centre, but they are just as strong or even stronger.<br><br>Because people usually buy plants by their appearance, plants are forced into flower to look attractive in a garden centre, but will get quite a shock once brought home and planted in your garden. They can take some time to fully recover if ever. Our plants do not waste any energy, they are hardened off and just waiting to boost into life in your garden.<br><br>If you follow our guidelines enclosed, you will be rewarded in the growing season by watching your plants grow into mature and very strong plants.<br>Rest assured your order is guaranteed so if you are still unhappy please contact our customer service. GreenWorld.com wishes you lots of success with your garden.<br><br></li>
		<li><b>Do I get a replacement if my items are damaged?</b><br><br>If there is something wrong with your item(s) such as it has been damaged in transit or hasn't survived the journey, just contact us as soon as possible describing the problem and we will happily replace the item for you free of charge under your guarantee. Some items are perishable and there will be no need to return dead or damaged plants; however we may ask for photos for quality control purposes.<br><br>Please see in our Terms and Conditions for our Return Policy, any questions please contact customer service.<br><br></li>
		<li><b>What if I want to return the product which I have recieved?</b><br>If the product received by you as same as shown on the website and matching the size and color shown, you will need to ship the product back to us bearing the shipping cost. However if the item is different, damaged or not as described on the website, we will arrange for a pickup from your address free of cost.<br><br></li>
		<li><b>Will I get all items I ordered at once</b><br>GreenWorld.com is a marketplace, we have our vendors spread across India. If you have ordered multiple items in the same order, there are chances those items are from different vendors, and so you might be receiving the order in separate parcels. If the vendor for all your products is the same, then you will surely receive all the items at once. Tracking id of orders shipped from each vendor are updated and sent on your registered email id and phone number.<br><br></li>
		<li><b>Can I change my order information?</b><br>You can mail us at support@GreenWorld.com to change your order information. Please note that after your order is shipped you cannot change any details on your order.<br><br></li>
		<li><b>Do your plants come with pots?</b><br>All our plants except the orchids will come with a plastic pot. The soil used in potting is a mixture of coco peat, perlite and vermiculite.<br><br></li>
		<li><b>Do all plants come with flower?</b><br>Flowering of a plant depends on the season and maturity of the plant. While we try and make sure we ship the plants which are budding we simply cannot guarantee it as it is a natural process a plant goes through. We assure you of sending you the correct plant specie however we cannot guarantee flowers on the plant.<br><br></li>
		<li><b>How much time does it take to get refund?</b><br>Once you apply for a refund, it will take approximately 4-5 working days to get the refund in your bank account.<br><br></li>
		<li><b>Do you send a garderner to take care of the plants?</b><br>Our Website is only product based website and currently we do not offer any services. However you can get in touch with us to know in detail about the plant care.<br><br></li>
		<li><b>Where can I reach you for further inquiries?</b><br>You can email us on support@GreenWorld.com<br></li>
	<p style="font-size: 20px"><b>Quicks Links</b></p>
		<ul style="list-style-type: none;">
			<li>FAQ</a></li>
			<li><a href="/tac">Terms & Conditions</a></li>
			<li><a href="/cancel-return">Cancellation & Return Policy</a></li>
		</ul>
		<p style=" font-size: 20px"><b>Contact for Horticulturist</b></p>
	<ul style="list-style-type: none;">
		<li >Phone no. : 9972445588</li>
	</ul>
</body>
</html>  