body{
	background-image: url("wallper");
	background: #CFFFE5;
	font-family: arial;
	margin: 50px;
}
h1{
	color: #000
}
.secondary{
	color: black;
	padding: 10px; 
}
a{
	color: red;
}
.third{
	font-size: 30px;
}